/* DocBook xslTNG version 1.8.0
 *
 * This is docbook-screen.css.
 *
 * See https://xsltng.docbook.org/
 *
 */

@media screen {
    @import url("https://fonts.googleapis.com/css?family=B612+Mono&display=swap");
    @import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
    @import url("https://fonts.googleapis.com/css?family=Noto+Serif&display=swap");
}

:root {
    --popup-annotation-color: var(--surface-color);
    --on-popup-annotation-color: var(--on-surface-color);
    --popup-annotation-border-color: var(--primary-color);
    --popup-annotation-border-style: 1px solid var(--popup-annotation-border-color);

    --popup-annotation-header-color: var(--primary-color);
    --on-popup-annotation-header-color: var(--on-primary-color);
    --popup-annotation-header-separator-border-style: 1px solid var(--popup-annotation-border-color);

    --js-controls-border-color: var(--primary-color);
    --js-controls-border-style: 1px solid var(--js-controls-border-color);
    --js-controls-header-color: var(--primary-color);
    --on-js-controls-header-color: var(--on-primary-color);
    --js-controls-header-separator-border-style: 1px solid var(--popup-annotation-border-color);
    --js-controls-color: var(--surface-color);
    --on-js-controls-color: var(--on-surface-color);
}

html {
    color: var(--on-background-color);
    background-color: var(--background-color);
    height: 100%;
    width: 100%;
    line-height: 1.75rem;
    font-size: 13.5pt;
    scroll-padding-top: 40px;
}

/* https://www.smashingmagazine.com/2020/07/css-techniques-legibility/ */
@supports (font-size-adjust: 1;) {
    html {
        font-size-adjust: 0.5;
    }
}

body {
    min-height: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 100%;
}

main,
footer {
    width: 100%;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

main {
    padding-top: 3rem;
}

.book + .book {
    border-top: var(--division-separator-border-style);
    margin-top: 6em;
    padding-top: 6em;
}

.refentry + .refentry {
    border-top: var(--division-separator-border-style);
    margin-top: 6em;
    padding-top: 6em;
}

.book > .dedication > header,
.article > .dedication > header,
.book .chapter > header,
.book .preface > header,
.book .appendix > header,
.book .part > header {
    margin-top: 4rem;
    padding-top: 2rem;
    border-top: 0.25rem solid var(--border-color);
}

.dedication + .dedication > header {
    border-top: inherit;
}

.colophon {
    margin-top: 6rem;
    margin-bottom: 6rem;
    margin-left: 6rem;
    margin-right: 6rem;
    border: 1px solid var(--border-color);
    border-radius: 1em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
}

.set header h1,
.book header h1 {
    text-align: center;
}

.footnotes {
    margin-top: 2em;
}

.footnotes div.footnote-number {
    display: inline-block;
    width: 0.75rem;
    height: 0;
    margin-left: -0.75rem;
    margin-top: 0.5rem;
    vertical-align: top;
}

.footnotes div.footnote-body {
    display: inline-block;
}

.footnotes .footnote {
    margin-left: 0.75rem;
}

.footnote p {
    margin-bottom: 0;
}

.footnotes hr {
    max-width: 1in;
    margin: 0;
}

.calloutlist dl {
  display: grid;
  grid-template-columns: max-content auto;
}

.calloutlist dl dt {
    float: none;
    width: inherit;
    grid-column-start: 1;
}

.calloutlist dl dd {
    margin-left: 1em;
    grid-column-start: 2;
}

/* ============================================================ */

nav table td.previous {
    text-align: left;
}

nav table td.up {
    text-align: center;
}

nav table td.next {
    text-align: right;
}

nav.bottom {
    background-color: var(--nav-background-color);
}

nav.bottom table {
    border-top: 2px solid var(--border-color);
    margin-bottom: 1rem;
}

nav.bottom table .previous {
    padding-left: 4rem;
}

nav.bottom table .next {
    padding-right: 4rem;
}

nav.top {
    position: fixed;
    width: 100%;
    background-color: var(--nav-background-color);
    opacity: 1;
}

body.home nav.top {
    display: none;
}

nav.top div {
    border-bottom: 1px solid var(--border-color);
    padding-left: 4rem;
    padding-right: 4rem;
}

/* ============================================================ */
/* Javascript annotations */

.popup-annotation-wrapper {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--modal-overlay-color);
}

.popup-annotation-body {
    background-color: var(--popup-annotation-color);
    color: var(--on-popup-annotation-color);
    border: var(--popup-annotation-border-style);
    width: 50%;
    min-height: 40%;
    max-height: 50%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.15em;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 100%;
}

.wide .popup-annotation-body {
    width: 80%;
}

.tall .popup-annotation-body {
    max-height: 80%;
}

.popup-annotation-header {
    height: 2em;
    background-color: var(--popup-annotation-header-color);
    color: var(--on-popup-annotation-header-color);
    padding-left: 1em;
    padding-right: 0.5em;
    border-bottom: var(--popup-annotation-header-separator-border-style);
}

.popup-annotation-header .annotation-close {
    float: right;
    cursor: pointer;
    font-size: 125%;
}

.popup-annotation-header .annotation-title {
    padding-top: 0.1em;
}

.popup-annotation-content {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    overflow: scroll;
}

.annotation-close {
    padding-top: 4px;
}

/* ============================================================ */
/* Javascript controls */

.js-controls-wrapper {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--modal-overlay-color);
}

.js-controls-body {
    background-color: var(--js-controls-color);
    color: var(--on-js-controls-color);
    border: var(--js-controls-border-style);
    max-width: 300px;
    margin-top: 5px;
    margin-left: 10px;
    opacity: 1;
}

.js-controls-header {
    height: 2em;
    background-color: var(--js-controls-header-color);
    color: var(--on-js-controls-header-color);
    padding-left: 1em;
    padding-right: 0.5em;
    border-bottom: var(--js-controls-header-separator-border-style);
}

.js-controls-header .js-controls-close {
    float: right;
    cursor: pointer;
    font-size: 125%;
}

.js-controls-header .js-controls-title {
    padding-top: 0.1em;
}

.js-controls-content {
    background-color: var(--js-controls-color);
    color: var(--on-js-controls-color);
    padding: 1em;
}

.js-controls-buttons {
    text-align: center;
    padding-bottom: 0.5em;
}

.js-controls-buttons button {
    display: inline-block;
    text-align: center;
    font-size: 14pt;
    background-color: var(--enabled-color);
    border-radius: 5px;
    border: 2px solid var(--primary-color);
    color: var(--on-surface-color);
    text-align: center;
    padding: 5px;
    width: 3em;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.js-controls-reload {
    text-align: center;
    background-color: var(--error-color);
    color: var(--on-error-color);
}

/* ============================================================ */
/* For progressive reveals in chunked content. */


.reveal {
    display: none;
}

ul.reveal,
ol.reveal {
    display: block;
}

.reveal > li {
    display: none;
}

.reveal > li:first-child {
    display: list-item;
}

.noreveal {
    display: inherit;
}

.speaker-notes .reveal {
    display: inherit;
    background-color: #ffeeee;
}

.speaker-notes ul.reveal,
.speaker-notes ol.reveal {
    display: block;
    background-color: #ffeeee;
}

.speaker-notes .reveal > li {
    display: list-item;
    background-color: #ffeeee;
}

.speaker-notes li.reveal {
    display: list-item;
    background-color: #ffeeee;
}

.speaker-notes .transitory {
    display: none;
}

/* ============================================================ */

@media screen and (max-width: 1199px) {
    nav.top div {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    nav.bottom table .previous {
        padding-left: 2rem;
    }

    nav.bottom table .next {
        padding-right: 2rem;
    }
}

@media screen and (max-width: 767px) {
    nav.top div {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    nav.bottom table .previous {
        padding-left: 1rem;
    }

    nav.bottom table .next {
        padding-right: 1rem;
    }
}
