/* DocBook xslTNG version 1.8.0
 *
 * This is oxy-markup.css. This CSS supports oXygen change markup 
 * processing instructions, converted to DocBook proper and then to 
 * HTML classes/spans.
 *
 * See https://xsltng.docbook.org/
 *
 */

.oxy_insert {
    background-color: transparent;
    color: #009900;
}

.oxy_insert::before {
    content: var(--revadded-before);
}

.oxy_insert::after {
    content: var(--revadded-after);
}

.oxy_delete {
    background-color: transparent;
    color: #cc3333;
    text-decoration: line-through;
}

.oxy_delete::before {
    content: var(--revdeleted-before);
}

.oxy_delete::after {
    content: var(--revdeleted-after);
}

