# redirect moved files
RedirectMatch Permanent ^/fop/anttask(.*) http://xmlgraphics.apache.org/fop/1.1/anttask$1
RedirectMatch Permanent ^/fop/compiling(.*) http://xmlgraphics.apache.org/fop/1.1/compiling$1
RedirectMatch Permanent ^/fop/configuration(.*) http://xmlgraphics.apache.org/fop/1.1/configuration$1
RedirectMatch Permanent ^/fop/embedding(.*) http://xmlgraphics.apache.org/fop/1.1/embedding$1
RedirectMatch Permanent ^/fop/extensions(.*) http://xmlgraphics.apache.org/fop/1.1/extensions$1
RedirectMatch Permanent ^/fop/fonts(.*) http://xmlgraphics.apache.org/fop/1.1/fonts$1
RedirectMatch Permanent ^/fop/graphics(.*) http://xmlgraphics.apache.org/fop/1.1/graphics$1
RedirectMatch Permanent ^/fop/hyphenation(.*) http://xmlgraphics.apache.org/fop/1.1/hyphenation$1
RedirectMatch Permanent ^/fop/intermediate(.*) http://xmlgraphics.apache.org/fop/1.1/intermediate$1
RedirectMatch Permanent ^/fop/output(.*) http://xmlgraphics.apache.org/fop/1.1/output$1
RedirectMatch Permanent ^/fop/pdfa(.*) http://xmlgraphics.apache.org/fop/1.1/pdfa$1
RedirectMatch Permanent ^/fop/pdfencryption(.*) http://xmlgraphics.apache.org/fop/1.1/pdfencryption$1
RedirectMatch Permanent ^/fop/pdfx(.*) http://xmlgraphics.apache.org/fop/1.1/pdfx$1
RedirectMatch Permanent ^/fop/running(.*) http://xmlgraphics.apache.org/fop/1.1/running$1
RedirectMatch Permanent ^/fop/servlets(.*) http://xmlgraphics.apache.org/fop/1.1/servlets$1
RedirectMatch Permanent ^/fop/upgrading(.*) http://xmlgraphics.apache.org/fop/1.1/upgrading$1

# redirect to versioned documentation
# Current stable release
Redirect Temp /fop/stable http://xmlgraphics.apache.org/fop/1.1

# Current unstable release (or trunk if no beta is the latest release)
Redirect Temp /fop/unstable http://xmlgraphics.apache.org/fop/trunk

# Latest release
Redirect Temp /fop/current http://xmlgraphics.apache.org/fop/1.1
Redirect Temp /fop/latest http://xmlgraphics.apache.org/fop/1.1

# Previous stable release
Redirect Temp /fop/previous http://xmlgraphics.apache.org/fop/1.0

# Old releases
Redirect Temp /fop/maintenance http://xmlgraphics.apache.org/fop/0.95
Redirect Temp /fop/0.90alpha1 http://xmlgraphics.apache.org/fop/0.95
Redirect Temp /fop/0.91beta http://xmlgraphics.apache.org/fop/0.95
Redirect Temp /fop/0.92beta http://xmlgraphics.apache.org/fop/0.95
Redirect Temp /fop/0.93 http://xmlgraphics.apache.org/fop/0.95
Redirect Temp /fop/0.94 http://xmlgraphics.apache.org/fop/0.95
